<h1>Answers</h1>

<div>
  <% if @answers.empty? %>
    <p>No Answer</p>
  <% else %>
    <table>
      <thead>
      <th>Answer</th>
      <th>Answer By</th>
      <th></th>
      <th></th>
      <th></th>
      </thead>
      <tbody>
      <% @answers.each do |answer| %>
        <tr>
          <td><%= link_to answer.content, answer_path(answer), class: 'answer' %></td>
          <td><%= answer.user.email %></td>
          <td><%= link_to 'Edit', edit_answer_path(answer) %></td>
          <td><%= link_to 'Destroy', answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</div>
<br/>
